/* bg-white {
  background: white;
} */
/* py-16 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; */

/* px-3 {
  padding-left: 3.125rem;
  padding-right: 3.125rem; */

/* text-175 {
  font-size: 1.75em; */

/* text-1 {
  font-size: 1em; */